{% extends 'base.html.twig' %}

{% block title %}Création d'une annone{% endblock %}

{% block body %}
    <div class="container">
        <h1>Création d'une annonce</h1>

        {{ form_start(form)}}
        <form>
            <div class="form-group">
                <label for="exampleInputEmail1">Email address</label>
                <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
            </div> 
        </form>
       
        <button class="btn btn-primary" type="submit">Créer une annonce</button>
        {{ form_end(form) }}
    </div>
{% endblock %}