{% extends 'base.html.twig' %}

{% block title %}Profil de {% endblock %}

{% block body %}
<div class="main main-raised">
    <div class="profile-content">
        <div class="container">
            <div class="row">
                <div class="col-md-6 ml-auto mr-auto">
                    <div class="profile">
                        <div class="avatar">
                            <img src="{{user.picture}}" alt="Circle Image" class="img-raised rounded-circle mx-auto d-block">
                        </div>
                        <div class="name">
                            <h3 class="title text-center mt-2">{{user.firtsname}} {{user.lastname}}</h3>
                            <h6 class="text-center mt-10">Designer</h6>
                            
                        </div>
                    </div>
                </div>
            </div>
            <div class="description text-center">
                <p>An artist of considerable range, Chet Faker — the name taken by Melbourne-raised, Brooklyn-based Nick Murphy — writes, performs and records all of his own music, giving it a warm, intimate feel with a solid groove structure. </p>
            </div>

            
            </div>
        </div>
    
 

    
        </div>
    </div>
	</div>
{% endblock %}
