body, a{
    color: #232323;
}

ul{
    padding: 0;
}

ul li{
    list-style: none;
}
.card-parameter-stars i{
    color: #008489;
    font-size: 12px;
    letter-spacing: -3px;
}

.datepicker table tr td.disabled{
    color: crimson !important;
    background: rgba(0, 0, 0, 0.815);
}

.card{
    max-width: 270px;
    border: none;
    margin-bottom: 50px;
    box-shadow: 1px 1px 21px 0 rgba(0,0,0,0.14), -1px -1px 21px 0 rgba(0,0,0,0.14);
    transition-duration: 0.5s;
}

.card img{
    min-height: 130px;
}

.card:hover{
    box-shadow: 1px 1px 21px rgba(254,117,118,0.4), -1px -1px 21px 0 rgba(254,117,118,0.4);
}

a:hover{
    text-decoration: none;
    color: #232323;
}

.title-page-header{
    margin-bottom: 40px;
}

.user-avatar-nav{
    width: 30px;
    margin-right: 5px;
}

.dropdown-account i {
    color: #fe7576;
}

.block-profile{
    box-shadow: 1px 1px 21px 0 rgba(0,0,0,0.14), -1px -1px 21px 0 rgba(0,0,0,0.14);
}

.block-profile .booking-profile a{
    background: #d6d6d6;
    height: 30px;;
}

.block-profile .booking-profile img{
    height: 100%;
}