.navbar{
    position: absolute;
    z-index: 10;
    width: 100%;
    background: rgba(0, 0, 0, 0.1);
}

.card-parameter-stars i{
    color: #008489;
    font-size: 12px;
    letter-spacing: -3px;
}

.datepicker table tr td.disabled{
    color: crimson !important;
}