body, a{
    color: #232323;
}

ul{
    padding: 0;
}

ul li{
    list-style: none;
}
.card-parameter-stars i{
    color: #008489;
    font-size: 12px;
    letter-spacing: -3px;
}

.datepicker table tr td.disabled{
    color: crimson !important;
    background: rgba(0, 0, 0, 0.815);
}

.content-base{
    margin-top: 50px;
}

.card{
    max-width: 270px;
    border: none;
    margin-bottom: 50px;
    box-shadow: 1px 1px 21px 0 rgba(0,0,0,0.14), -1px -1px 21px 0 rgba(0,0,0,0.14);
    transition-duration: 0.5s;
}

.card img{
    min-height: 130px;
}

.card:hover{
    box-shadow: 1px 1px 21px rgba(254,117,118,0.4), -1px -1px 21px 0 rgba(254,117,118,0.4);
}

a:hover{
    text-decoration: none;
    color: #232323;
}

.title-page-header{
    margin-bottom: 40px;
}

.user-avatar-nav{
    width: 30px;
    margin-right: 5px;
}

.dropdown-account i {
    color: #008489;
}

.block-profile{
    box-shadow: 1px 1px 21px 0 rgba(0, 0, 0, 0.062), -1px -1px 21px 0 rgba(0, 0, 0, 0.062);
    border-radius: 4px;
    padding: 10px;
    margin-bottom: 30px;
}

.block-profile p{
    margin-bottom: 5px;
}

.block-profile .booking-profile .booking-profile-ligne{
    background: #f3f3f3;
    height: 80px;
    width: 100%;
    border-radius: 4px;
    display: flex;
    align-items: center;
    margin-bottom: 5px;
    margin-top: 5px;
}

.block-profile .booking-profile .booking-profile-ligne img{
    width: 60px;
    height: 60px;
    border-radius: 100%;
}

.block-profile .booking-profile .booking-profile-ligne .info-booking-profile{
    font-size: 11px;
    display: flex;
    flex-direction: column;
}

.block-profile .booking-profile .booking-profile-ligne .info-booking-profile span{
    margin-left: 10px;
}

.block-profile .booking-profile .booking-profile-ligne .info-booking-profile a{
    font-size: 10px;
    background: #fe7576;
    color: white;
}

.block-profile .ad-profile img{
    width: 60px;
    height: 60px;
    border-radius: 100%;
}