{% extends 'admin_ad/base.html.twig' %}

{% block body %}
<div class="col-md-9 col-lg-10 p-0">
    <div class="jumbotron jumbotron-fluid pt-4 pb-4">
        <div class="container">
            <h1 class="display-4">Modifier l'annonce {{ ad.title }}</h1>
            <p class="lead">Espace de gestion de l'annonces {{ ad.title }}.</p>
        </div>
    </div>
    <div class="container">
        {% start_form(form) %}
        {% form_widget(form) %}
        {% end_form %}
    </div>
</div>
{% endblock %}