{% block stylesheets %}

{% endblock %}

{% block body %}


<div class="container-fluid">
    <div class="row">
        <nav class="col-md-3 col-lg-2 d-none d-md-block bg-primary sidebar h-100 d-inline-block p-0">
        <div class="sidebar-sticky">
            <ul class="nav flex-column">
            <li class="nav-item p-3 bg-dark text-light">
                <i class="fas fa-tachometer-alt"></i> Symbnb Dashboard Control 
            </li>
            <li class="nav-item mt-1 ">
                <a class="nav-link active text-light" href="#">
                <i class="fas fa-home"></i> Dashboard home
                </a>
            </li>
            <li class="nav-item mt-1 ">
                <a class="nav-link active text-light" href="#">
                <i class="fas fa-users"></i> User
                </a>
            </li>
            <li class="nav-item mt-1 ">
                <a class="nav-link active text-light" href="#">
                <i class="fas fa-list-alt"></i> Annonces
                </a>
            </li>

            </ul>
        </div>
        </nav>
        <div class="col-md-9 col-lg-10 p-0">
            <div class="jumbotron jumbotron-fluid pt-4 pb-4">
                <div class="container">
                    <h1 class="display-4">Dashboard Home</h1>
                    <p class="lead">Espace de gestion des données.</p>
                </div>
            </div>
            <div class="row m-2 d-flex justify-content-center">
                    <div class="col-sm-6 col-md-5">
                      <div class="card border border-success">
                        <div class="card-body">
                          <h5 class="card-title text-success">Gestion des annonces</h5>
                          <p class="card-text">Ajouter / supprimer / modifier des annonces.</p>
                          <a href="#" class="btn btn-success">Accéder aux annonces</a>
                        </div>
                      </div>
                    </div>
                    <div class="col-sm-6 col-md-5">
                      <div class="card border border-success">
                        <div class="card-body">
                          <h5 class="card-title text-success">Gestion des utilisateurs</h5>
                          <p class="card-text">Ajouter / supprimer / modifier des utilisateurs.</p>
                          <a href="#" class="btn btn-success">Accéder aux utilisateurs</a>
                        </div>
                      </div>
                    </div>
                  </div>
        </div>
    </div>
</div>
{% endblock %}


{% block javascripts %}
<script src="/js/jquery.min.js"></script>
<script src="/js/popper.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
{% endblock %}