{% block stylesheets %}
<link rel="stylesheet" href="/css/bootstrap.min.css">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">

{% endblock %}

{% block body %}


<div class="container-fluid">
    <div class="row">
        <nav class="col-md-3 col-lg-2 d-none d-md-block bg-primary sidebar h-100 d-inline-block p-0">
        <div class="sidebar-sticky">
            <ul class="nav flex-column">
            <li class="nav-item m-3bg-dark">
               Symbnb Dashboard Control
            </li>
            <li class="nav-item mt-1 ">
                <a class="nav-link active text-light" href="#">
                 Dashboard home
                </a>
            </li>
            <li class="nav-item mt-1 ">
                <a class="nav-link active text-light" href="#">
                 User
                </a>
            </li>
            <li class="nav-item mt-1 ">
                <a class="nav-link active text-light" href="#">
                 Annonces
                </a>
            </li>

            </ul>
        </div>
        </nav>
    </div>
</div>
{% endblock %}


{% block javascripts %}
<script src="/js/jquery.min.js"></script>
<script src="/js/popper.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
{% endblock %}