{% extends 'base.html.twig' %}

{% block title %}Laissez un commentaire{% endblock %}

{% block body %}
<div class="container"> 
    {{ start_form(form) }}
    {{ end_form(form) }}
</div>
{% endblock %}