{% extends 'base.html.twig' %}

{% block title %}Connectez vous !{% endblock %}

{% block body %}
<div class="container text-center">
    <form class="form-signin" action="{{ path('account_login') }}" method="POST">
        <h1 class="logo mb-5">Symbnb</h1>

        {% if hasError %}
        <div class="alert alert-danger">Une erreur est survenue, le nom d'utilisateur est invalide</div>
        {% endif %}
        
        <div class="form-label-group">
            
            <input type="text" class="form-control mb-3" name="_username" id="email" placeholder="adresse email" required autofocus value={{username}}>
        </div>

        <div class="form-label-group">
            
            <input type="password" name="_password" id="password" placeholder="Mot de passe" class="form-control mb-3" required >

        </div>

        <hr class="my-4">
        <button class="btn-login" type="submit">Connexion</button>
        <p class="mt-5 mb-3 text-muted">© 2019</p>
    </form> 
   
</div>
{% endblock %}
