{% extends 'base.html.twig' %}

{% block title %}Login!{% endblock %}

{% block body %}
    <form action="">
        <div class="form-group">
            <label for=""></label>
            <input type="text" name="">
        </div>
        <div class="form-group">
            <label for=""></label>
            <input type="text" name="">
        </div>
        <div class="form-group">
            <label for=""></label>
            <input type="text" name="">
        </div>
    </form>
{% endblock %}
