{% extends 'base.html.twig' %}

{% block title %}Login!{% endblock %}

{% block body %}
<div class="container">  
        <div class="row">
            <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
                <div class="card card-signin my-5">
                <div class="card-body">
                    <h5 class="card-title text-center">Inscrivez-vous !</h5>
    
                    {% if hasError %}
                        <div class="alert alert-danger">Une erreur est survenue, le nom d'utilisateur est invalide</div>
                    {% endif %}
    
                    <form class="form-signin" action="{{ path('account_login') }}" method="POST">
                    <div class="form-label-group">
                        <label for="email">Email address</label>
    
                        <input type="text" class="form-control" name="_username" id="email" placeholder="adresse email" required autofocus value={{username}}>
                    </div>
    
                    <div class="form-label-group">
                        <label for="password">Password</label>
                        <input type="password" name="_password" id="password" placeholder="Mot de passe" class="form-control" required >
                    
                    </div>
    
                    <hr class="my-4">
                    <button class="btn btn-lg btn-primary btn-block text-uppercase" type="submit">Connexion</button>
                    </form>
                </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}